/* TODO: design your profile with CSS */

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

main {
    flex: 2 0;
}

header {
    align-items: center;
}

.tfl {
    height: 42px;
}

.district {
    color: #00782a;
}

.bakerloo {
    color: #B36305;
}

.central {
    color: #E32017;
}

.circle {
    color: #FFD300;
}

.lizzy_line {
    color: #9364CD;
}

.hammersmith_and_city {
    color: #F3A9BB;
}

.piccadilly {
    color: #003688;
}

.victoria {
    color: #0098D4;
}

.dlr {
    color: #00A4A7;
}

.overground {
    color: #EE7C0E;
}